<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
   
  </ion-header>

  <div class="container">
    <ion-list>
      <ion-item>
        <ion-input label="Search" (change)="Search()" [(ngModel)]="judul"></ion-input>
      </ion-item>
    </ion-list>
    <div class="card-container">

      <ion-card *ngFor="let cerita of ceritas; let i = index" class="card">
        <div class="img-container" style="background-image: url({{cerita.gambar}});">
        </div>
        <ion-card-header>
          <ion-card-title>
            <ion-card-title>{{cerita.judul}}</ion-card-title>
            <ion-card-subtitle>by: {{cerita.users_id_pembuat}}</ion-card-subtitle>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{cerita.deskripsi}}</p>
        </ion-card-content>
        <ion-item routerLink="/ceritadetail/{{cerita.id}}">
          <div class="button-container">
            <ion-button fill="solid" shape="round">Read</ion-button>
          </div>
        </ion-item>
        
        
      </ion-card>
    </div>
  </div>

</ion-content>
