<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="card-container">

      <ion-card *ngFor="let cerita of ceritas; let i = index">
        <div class="img-container" style="background-image: url({{cerita.url}});">
        </div>
        <ion-card-header>
          <ion-card-title>
            <ion-card-title>{{cerita.judul}}</ion-card-title>
            <ion-card-subtitle>by: {{cerita.writer}}</ion-card-subtitle>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{cerita.deskripsi}}</p>
        </ion-card-content>
        <ion-item  routerLink="/ceritadetail/{{i}}">
          <div class="button-container">
            <ion-button fill="solid" shape="round">Read</ion-button>
          </div>
        </ion-item>
        
        
      </ion-card>
    </div>
  </div>

</ion-content>
